
.product-item .pi-text{
    height:205px;
}
*{
    margin: 0;
    padding: 0;
}
/*.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
}
.rate {
    float: left;
    height: 34px;
    padding: 0;
    margin-top:-10px;
}*/
.product-item .pi-text h6 {
    padding-left: 7px;
    padding-top: 6px;
}
.custom_color{
    background: #f51167;
    color:white;
}
.set_text{
    position: relative;
    top: 50px;
    font-size: 17px;
}
/*menu*/
.product-filter-menu li {
    margin: 0 5px 10px;
}
.product-filter-menu li a {
    padding: 10px 15px;
}
.user-rating {
    direction: rtl;
    font-size: 20px;
    unicode-bidi: bidi-override;
    padding: 0px 16px;
    display: inline-block;
}
.user-rating input {
    opacity: 0;
    position: relative;
    left: -15px;
    z-index: 2;
    cursor: pointer;
}
.user-rating span.star:before {
    color: #777777;
    content:"ï€†";
    /*padding-right: 5px;*/
}
.user-rating span.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;
}
.user-rating span {
    margin-left: -15px;
}
.user-rating span.star:before {
    color: #777777;
    content:"\f006";
    /*padding-right: 5px;*/
}
.user-rating input:hover + span.star:before, .user-rating input:hover + span.star ~ span.star:before, .user-rating input:checked + span.star:before, .user-rating input:checked + span.star ~ span.star:before {
    color: #ffd100;
    content:"\f005";
}

.selected-rating{
    color: #ffd100;
    font-weight: bold;
    font-size: 3em;
}
/*slick slider ad_view page*/
/*    .slick-slide{
        margin-right:10px;
    }*/
#user_setting{ cursor: pointer;}
#user_setting_dd li{
    padding:4px 10px;
}

@media only screen and (max-width: 479px) {
    .m_v1{
        padding-top: 10px !important;
    }
    .hero-slider .hs-item .thirdparty_ads{
        width: 88px !important;
    }
    .m_v10{

        margin:0 auto;
    }
    .owl-carousel .owl-item img{
        margin-top: 0 !important;
    }
    .owl-carousel .owl-stage-outer{
        height: 680px !important;
    }
    .up-item{
        margin-top: 32px;
    }
    .slide-num-holder span:first-child{
        margin-right: 0;
    }
    .dropdown-menu{
        left: -63px;
    }
    .m_v2{
        font-size: 13px !important;
        padding-top: 10px;
    }
    .m_v3{
        font-size: 12px !important;
    }
    #search_click{
        float: right;
    }
    .product-item{
        border: none !important;
    }
    .m_v4{
        margin-right: 15px !important;
    }
    .m_v5{
        left: -24px;
    }
    .m_v6{
        padding-left: 15px !important;
    }
    .m_v7{
        margin-bottom: 0px !important;
    }
    .m_v8{
        margin-top: 0px !important;
    }
    .m_v9{
        left: 100px !important;
    }
    .m_v13 {
        font-size: 25px !important;
    }
    .m_v14 {
        font-size: 12px !important;
    }
    .m_v15{
        display:none;
    }
    .m_v16{
        display:block !important;
    }
    .mhide{
        display:none !important;
    }
    .m_v18{
        width: 210px;
        margin:0 auto;
    }
    .m_v19{
        width: 100px !important;
        height:100px !important;
    }
    .m_v20{
        width: 80px !important;
        height:80px !important;
    }
    .m_v21{
        height:150px !important;
    }
    .m_v22{
        font-size: 9px !important;
    }
    .m_v23{
        width: auto !important;
    }
    .m_v24{
        padding-right:5px;
        padding-left:5px;
    }
    .m_v25{
        height:110px !important;
        width:110px !important;
    }
    h4{
        font-size: 18px;
    }
}
/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .m_v1{
        padding-top: 10px !important;
    }
    .hero-slider .hs-item .thirdparty_ads{
        width: 110px;
    }
    .m_v10{
        width:384px;
        margin:0 auto;
    }
    .m_v11{
        width: auto !important;
        margin: 0 auto;
    }
    .owl-carousel .owl-item img{
        margin-top: 0 !important;
    }
    .owl-carousel .owl-stage-outer{
        height: 680px !important;
    }
    .up-item{
        margin-top: 32px;
    }
    .slide-num-holder span:first-child{
        margin-right: 0;
    }
    .dropdown-menu{
        left: -39px;
    }
    .m_v2{
        font-size: 30px !important;
        padding-top: 10px;
        text-align: center;
    }
    .m_v3{
        font-size: 17px !important;
    }
    #search_click{
        float: right;
    }
    .product-item{
        border: none !important;
    }
    .m_v4{
        margin-right: -9px !important;
    }
    #search_bar{
        padding-top: 7px;
        margin: 0 auto;
    }
    .main-menu {
        display: none;
    }
    .slicknav_menu {
        background: #282828;
        display: block;
    }
    .m_v5{
        left: 0px;
    }
    .m_v6{
        padding-left: 15px !important;
    }
    .m_v7{
        margin-bottom: 0px !important;
    }
    .m_v8{
        margin-top: 0px !important;
    }
    .m_v9{
        left: 324px !important;
    }
    .m_v15{
        display:none;
    }
    .m_v16{
        display:block !important;
    }
    .mhide{
        display:none !important;
    }
}
/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
    .m_v10{

        margin:0 auto;
    }
    .hero-slider .hs-item .thirdparty_ads{
        width: 100px !important;
    }
    .m_v15{
        display:none;
    }
    .m_v16{
        display:block !important;
    }
    .mhide{
        display:none !important;
    }
    
    .m_v11{
        height: 170px !important;
    }
    .owl-carousel .owl-stage-outer {
        height: 590px !important;
    }
    .mysetting .owl-stage-outer {
        height: 290px !important;
    }
    .m_v17{
       font-size: 24px; 
    }
}
@media only screen and (max-width: 320px) {
    .m_v10{
        margin:0 auto;
    }
    .hero-slider .hs-item .thirdparty_ads{
        width: 77px !important;
        height: 77px !important;
    }
    .m_v11{
        height: 170px !important;
    }
    .owl-carousel .owl-stage-outer {
        height: 535px !important;
    }
    .mhide{
        display:none !important;
    }
    .mysetting .owl-stage-outer {
        height: 280px !important;
    }
    #register_form_title{
        font-size: 20px;
    }
    #btype1{
        margin-left: 0px !important;
    }
    #btype1 .form-group{
        width: auto !important;
    }
    .ad_view_4 .col-12{
        padding-right: 15px;
    }
    .m_v12{
        padding-right: 15px;
    }
    .m_v5 {
        left: -89px;
    }
    .m_v13 {
        font-size: 25px !important;
    }
    .m_v14 {
        font-size: 12px !important;
    }
    .m_v15{
        display:none;
    }
    .m_v16{
        display:block !important;
    }
    .m_v17{
       font-size: 20px; 
    }
}
@media (min-width: 576px){
    #register_popup .modal-dialog {
        max-width: 720px !important;
    }
}
.dropdown-menu li a{
    font-size: 14px;
}