.containt {
    width: 100%;
    height: 100%;
}
.site_name{
    text-align: center;
    width: 10%;
    padding-top: 35px;
    float:left;
}
.third_party_ads{
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    padding: 34px;
    float: left;
    margin-left: 30px;
    height: 100px;
    display: block;
}
.product {
    margin-left: 60px;
}
.advertise{
    width: 20%;
    float: right;
}
.head_btn {
    margin: 40px 0px 0px 150px;
}
.head_btncopy {
    margin: 40px 0px 0px 50px;
}
.head_btn2 {
    margin: 45px 0px 0px 50px;
    font-size: 20px;
}
.advertisement{
    padding: 70px;
    margin-bottom: 10px; 
    border: 1px solid black;
}
.pswidth{
    width:100%;
}
.head_btn3 {
    margin: 45px 150px 0px 0px;
    font-size: 20px;
    float: right;
}
.head_btn3copy {
    margin: 45px 20px 0px 0px;
    font-size: 20px;
    float: right;
}
.search_field{
    text-align: center;
    margin: 12% 0px 5% 0px;
}
.search_field_btn1{
    text-align: center;
    font-size: 20px;
    top: 10%;
}
@media (min-device-width : 360px) AND (max-device-width : 600px){
    *{
        margin: 0;
        padding-right: 11px;
    }
    body{
        margin: 0;
        padding-right: 15px;
        text-align: center;
        font-size: 4.33vw;
        display: inline;
    }
    .advertisement{
        width: 30%;
        height: 5%;
        left: 0;
        bottom: 0;
        padding: 10px;
        font-weight: bold;
        display: inline-block;
    }
    .advertise{
        width:100%;
    }
    .phoneads{
        width: 100%; 
    }
}

.underline {
    position: absolute;
    height: 4px;
    background-color: #ceaee8;
    transition: all 0.5s ease;
}

.container {
    border-radius: 5px;
    /*z-index: 2;*/
}

.signin {
    position: relative;
    left: 50%;
    top: 52%;
    height: 50px;
    width: 150px;
    margin: 35px 0 0 35px;
    padding: 8px 0px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    font-size: 1.5em;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: none;
}

.signin:hover {
    opacity: 0.8;
    box-shadow: 0 2px 5px #9a9a9a;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.main-popup {
    position: fixed;
    left: 0;
    top: 30px;
    margin: 0;
    width: 100%;
    height: 450px;
    background-color: #e7e7f6;
    border-radius: 5px;
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all .5s ease;
    overflow: hidden;
}

.main-popup.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
    transition: all .5s ease;
}

@media (min-width: 500px) {
    .main-popup {
        width: 500px;
        left: 50%;
        margin: 0 0 0 -250px;
    }
}

.popup-header {
    position: relative;
    padding: 0;
    margin: 0;
    height: 62px;
    width: 100%;
}

#popup-close-button a {
    position: absolute;
    right: 10px;
    top: -30px;
    width: 22px;
    height: 22px;
}

#popup-close-button a::before {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    width: 3px;
    height: 25px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#popup-close-button a::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    width: 3px;
    height: 25px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup-header ul {
    margin: 0;
    padding: 0;
}

.popup-header ul li {
    text-align: center;
    list-style: none;
    width: 50%;
    float: left;
}

.popup-header ul li a {
    display: block;
    padding: 20px 0;
    margin: 0;
    text-decoration: none;
    font-size: 1.2em;
}

#sign-in {
    background-color: #ceaee8;
    color: #fff;
    border-radius: 5px 0 0 0;
}

#sign-in.active {
    color: #ceaee8;
    background-color: transparent;
}

#register {
    background-color: #ceaee8;
    color: #fff;
    border-radius: 0 5px 0 0;
}

#register.active {
    color: #ceaee8;
    background-color: transparent;
}

.popup-content {
    height: 400px;
    overflow: hidden;
}

form.sign-in {
    position: relative; 
    top: 40px;
    left: 0;
    font-size: 1em;
    opacity: 1;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

form.sign-in.move-left {
    opacity: 0;
    transform: translateX(-450px);
}



form.sign-in input {
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin: 5px 5% 30px 5%;
    padding: 10px;
    font-size: 1em;
    color: #ceaee8;
    outline: none;
    border: none;
}

input#submit {
    background-color: #ceaee8;
    color: #fff;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    padding: 0;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    border: none;
}

form.register {
    position: relative; 
    top: -280px;
    left: 0;
    font-size: 1em;
    opacity: 0;
    transform: translateX(450px);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

form.register.move-left {
    opacity: 1;
    transform: translateX(0);
}

form.register input {
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin: 5px 5% 15px 5%;
    padding: 10px;
    font-size: 1em;
    color: #ceaee8;
    outline: none;
    border: none;
}

p.check-mark {
    position: relative;
    left: 50%;
    width: 200px;
    margin: 0 0 0 -100px;
    padding: 0;
    text-align: center;
    color: #ceaee8;
    font-size: .8em;
}

p.check-mark a {
    color: #a48bb9;
}

p.check-mark input {
    border-radius: 0;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #ceaee8;
    outline: none;
    border: none;
}

p.check-mark label {
    margin-left: 5px;
}

.side-menu-wrapper { /* style menu wrapper */
    background: rgba(0,0,0,.95);
    padding: 40px 0 0 40px;
    position: fixed; /* Fixed position */
    top: 0;
    right: 0; /* Sidebar initial position. "right" for right positioned menu */
    height: 100%;
    z-index: 2;
    transition: 0.5s; /* CSS transition speed */
    width: 250px;
    font: 20px "Courier New", Courier, monospace;
    box-sizing: border-box;
}
.side-menu-wrapper > ul{ /* css ul list style */
    list-style:none;
    padding:0;
    margin:0;
    overflow-y: auto; /* enable scroll for menu items */
    height:95%;
}
.side-menu-wrapper > ul > li > a { /* links */
    display: block;
    border-bottom: 1px solid #131313;
    padding: 6px 4px 6px 4px;
    color: #989898;
    transition: 0.3s;
    text-decoration: none;
}
.side-menu-wrapper > a.menu-close { /* close button */
    padding: 8px 0 4px 23px;
    color: #6B6B6B;
    display: block;
    margin: -30px 0 -10px -20px;
    font-size: 35px;
    text-decoration: none;
}

.menu-overlay { /* overlay */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

.Category_link{
    color:black;
    margin-left:30px;
    font-size: 16px;
}
.go {
    width:5%;
    font-size: 16px;
    margin-top: -5px;
}
.signinproduct{
    float: right;
    margin-right: 40px !important; 
    width: 12%;
}
.termsbutton{
    border: 1px solid #ced4da;
}
.thumbnail {
    padding:0px;

}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    /*display:block;*/
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}